<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body style="background-color: #232d3f;">
    <div  style="background-color: #005b41; border-color: #008170 !important;" class="container justify-content-center text-center border border-4 rounded-3 pt-3">
        <div style="border-color: #232d3f !important;" class="border justify-content-center border-4 rounded-3 d-inline-block w-25 text-white">
            <h1>Quote Comments</h1>
        </div>
    <hr>
    <div style="background-color:#232d3f; border-color: #008170 !important;" class="container justify-content-center text-center border border-4 rounded-3 p-3">
        <form action="/comment" method="POST">
            <input type="hidden" id="_id" name="_id" value="{{data["_id"]}}" />
            <table class="container-fluid text-white">
                <thead>
                    <tr>
                        <th>
                            Quote
                        </th>
                        <th>
                            Author
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-white">
                            {{data["text"]}}
                        </td>
                        <td class="text-white">
                            <em>--</em>
                            <em>{{data["author"]}}</em>
                        </td>
                </tbody>
            </table>
            <hr style="border-color: #008170;"/>
            <table class="container-fluid text-white">
                <thead>
                    <tr>
                        <th>
                            Comments for Current Quote
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if data.commentArray %}
                    {% for comment in data.commentArray %}
                        <tr>
                            <td class="text-white">
                                <em>{{ comment }}</em>
                            </td>
                            <td class="text-white">
                                <!-- FIX DELETE METHOD -->
                                [<a href="/delete/{{ data['_id'] }}/{{ comment['_id'] }}"><i style="color:#008170" class="material-icons">delete</i></a>]
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td class="text-white">
                            <em>No Comments</em>
                        </td>
                    </tr>
                    {% endif %}
            </tbody>
            </table>
            <hr style="border-color: #008170;"/>
            <table>
                <tr>
                    <td class="text-white">
                        Add Comment
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea type="text" id="comment" name="comment" placeholder="Enter Comment" cols="40" rows="2"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-dark">Submit New Comment</button>
                    </td>
                </tr>
            </table>
        </form>
        <hr />
        <a href="/quotes"><button class="btn btn-dark">Return to Quotes Page</button></a>
    </div>
</div>
</body>

</html>